
@{
    ViewBag.Title = "DoctorProfile";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="avatar-profile"><img src="~/asset/img/authorizations/doc.jpg" /></div>
        </div>
        <div class="col-sm-3">           
            <div class="description-author">
                <h3>About Author</h3>
                <p>
                    Aute excepteur nam singulis eu illum offendit o cupidatat, ab cillum
                    distinguantur id eiusmod adipisicing quo doctrina. Duis admodum ad tempor. Aute
                    ubi vidisse ne sunt qui mandaremus cillum ex offendit despicationes. E ex magna
                    aliqua nisi, esse ab proident est aute, quid litteris o imitarentur.
                </p>
            </div>
        </div> 
        <div class="col-sm-3">

        </div>

    </div>
</div>