.header-radial {
    background-color: #3065b5;
    background-image: -webkit-radial-gradient(50% top, circle, rgba(3, 146, 206, 0.6) 0%, rgba(3, 146, 206, 0) 75%), -webkit-radial-gradient(right top, circle, #3065b5 0%, rgba(48, 101, 181, 0) 57%);
    background-image: radial-gradient(circle at 50% top, rgba(3, 146, 206, 0.6) 0%, rgba(3, 146, 206, 0) 75%), radial-gradient(circle at right top, #3065b5 0%, rgba(48, 101, 181, 0) 57%);
    padding: 15px 10px;
}

    header a {
        color: #fff;
        opacity: 0.8;
    }

        header a:hover {
            opacity: 1;
            color: #fff;
        }

    header .logo {
        position: relative;
        float: left;
        width: 100%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

@media (min-width: 768px) {
    header .logo {
        float: left;
        width: 50%;
    }
}

@media (min-width: 992px) {
    header .logo {
        float: left;
        width: 50%;
    }
}

@media (min-width: 1200px) {
    header .logo {
        float: left;
        width: 50%;
    }
}

header .meet-social {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    header .meet-social {
        float: left;
        width: 100%;
    }
}

@media (min-width: 992px) {
    header .meet-social {
        float: left;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    header .meet-social {
        float: left;
        width: 50%;
    }
}

header .meet-social a i {
    opacity: 1;
}

header .tools-top {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
}

@media (min-width: 768px) {
    header .tools-top {
        float: left;
        width: 100%;
    }
}

@media (min-width: 992px) {
    header .tools-top {
        float: left;
        width: 50%;
    }
}

@media (min-width: 1200px) {
    header .tools-top {
        float: left;
        width: 50%;
    }
}

header .tools-top .avatar-profile {
    display: inline-block;
    margin-right: 20px;
}

    header .tools-top .avatar-profile .user-edit {
        float: left;
        margin-right: 11px;
        text-align: right;
    }

        header .tools-top .avatar-profile .user-edit h4 {
            line-height: 0;
            margin-top: 20px;
            margin-bottom: 3px;
            font-size: 14px;
            color: #f1f1f1;
            font-weight: 400;
            text-transform: capitalize;
            letter-spacing: 0.3px;
        }

        header .tools-top .avatar-profile .user-edit h5 {
            font-size: 12px;
            letter-spacing: 0.5px;
            color: #f1f1f1;
        }

    header .tools-top .avatar-profile .avatar-image {
        max-width: 39px;
        display: inline-block;
        position: relative;
    }

        header .tools-top .avatar-profile .avatar-image img {
            border-radius: 50%;
        }

        header .tools-top .avatar-profile .avatar-image .notifications {
            bottom: -3px;
            right: -3px;
            top: auto;
        }

header .tools-top .tools-help {
    padding: 0;
    float: right;
    margin-top: 0px;
}

    header .tools-top .tools-help li {
        display: inline-block;
        margin-right: 15px;
    }

        header .tools-top .tools-help li:last-child {
            margin-right: 0;
        }

        header .tools-top .tools-help li a {
            font-size: 40px;
        }

            header .tools-top .tools-help li a:hover {
                cursor: pointer;
            }
