@charset "UTF-8";

@import url(Header.css);
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

[hidden],
template {
    display: none;
}

.container:before, .container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}