
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_User.cshtml";
}

<div class="login">
    <div class="container">
        <div class="login-form">
            <div class="data-form">
                <!--Logo-->
                <div>
                    <a href="index.html" class="logo"><img src="~/asset/img/logo-login.svg" alt="logo" class="img-responsive"></a>
                </div>
                <p>
                    We had send your password no entered email.
                </p>

                <h3>Please, Check your Email..</h3>
            </div>
        </div>
    </div>
</div>

