@model AHCMS.Models.AccountLoginModel
@{
    ViewBag.Title = "Patient SignUp";
    Layout = "~/Views/Shared/_User.cshtml";
}

@section scripts{
    <script src="~/Angular/Controller/LoginController.js"></script>
    <script src="~/Angular/Service/AuthenticationService.js"></script>
}
<div class="login" ng-controller="loginController">
    <div class="container">
        <div class="register-form">
            <!--Data form-->
            <div class="data-form">
                <span class="back-to-login">
                    <a class="btn btn-green btn-xsmall" href="login.html"><i class="fa fa-angle-double-left"></i> Back to Login</a>
                </span>
                <!--Logo-->
                <a href="#" class="logo"><img src="~/asset/img/logo-simple.png" alt="logo"></a>
                <!--Logo-->
                <!--Form-->
                <div class="form-login">
                    <form method="post">
                     
                        <!--Personal Information-->
                        <div class="row">
                            <h3>Personal Information</h3>
                            <div class="datapos">
                                <!--first name-->
                                <div class="icon-data">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" placeholder="First Name" tabindex="1" id="FirstName" name="FirstName" ng-model="FirstName">
                                <!--first name-->
                                <!--last name-->
                                <div class="icon-data">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" placeholder="Last Name" tabindex="3" id="LastName" name="LastName" ng-model="LastName">
                                <!--last name-->
                                <!--phone-->
                                <div class="icon-data">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="number" placeholder="Your Phone" tabindex="5" id="PhoneNumber" name="PhoneNumber" ng-model="PhoneNumber">
                                <!--phone-->
                                <!--gender-->
                                <div class="icon-data">
                                    <i class="fa fa-venus-mars"></i>
                                </div>
                                <select tabindex="7" id="Gender" name="Gender" ng-model="Gender">
                                    <option>Select a Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                                <!--gender-->
                            </div>
                            <div class="datapos">
                                <!--Middle name-->
                                <div class="icon-data">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" placeholder="Middle Name" tabindex="2" id="MiddleName" name="MiddleName" ng-model="MiddleName">
                                <!--Middle name-->
                                <!--Email-->
                                <div class="icon-data">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <input type="email" placeholder="Email" tabindex="4" id="Email" name="Email" ng-model="Email">
                                <!--Email-->
                                <!--Birhtdate-->
                                <div class="icon-data">
                                    <i class="fa fa-calendar-alt"></i>
                                </div>
                                <input type="date" placeholder="dd/mm/yyyy" tabindex="6" id="BirthDate" name="BirthDate" ng-model="BirthDate">
                                <!--Birthdate-->
                                <!--Bloodgroup-->
                                <div class="icon-data">
                                    <i class="fa fa-tint"></i>
                                </div>
                                <select tabindex="8" id="BloodGroup" name="BloodGroup" ng-model="BloodGroup">
                                    <option>Select a Blood Group</option>
                                    <option>A+</option>
                                    <option>A-</option>
                                    <option>AB+</option>
                                    <option>AB-</option>
                                    <option>B+</option>
                                    <option>B-</option>
                                    <option>O+</option>
                                    <option>O-</option>
                                </select>

                                <!--Bloodgroup-->
                            </div>
                        </div>
                        <!--Personal Information-->
                        <!--Address Information-->
                        <div class="row">
                            <h3>Address Information</h3>
                            <div class="datapos">
                                <!--street-->
                                <div class="icon-data">
                                    <i class="fa fa-road"></i>
                                </div>
                                <input type="text" placeholder="Street" tabindex="9" id="Street" name="Street" ng-model="Street">
                                <!--street-->
                                <!--State-->
                                <div class="icon-data">
                                    <i class="fa fa-street-view"></i>
                                </div>
                                <input type="text" placeholder="State" tabindex="11" id="State" name="State" ng-model="State">
                                <!--State-->
                                <!--ZipCode-->
                                <div class="icon-data">
                                    <i class="fa fa-map-marker-alt"></i>
                                </div>
                                <input type="text" placeholder="ZipCode" tabindex="13" id="ZipCode" name="ZipCode" ng-model="ZipCode">
                                <!--ZipCode-->
                            </div>
                            <div class="datapos">
                                <!--city-->
                                <div class="icon-data">
                                    <i class="fa fa-building"></i>
                                </div>
                                <input type="text" placeholder="City" tabindex="10" id="City" name="City" ng-model="City">
                                <!--city-->
                                <!--Country-->
                                <div class="icon-data">
                                    <i class="fa fa-globe-asia"></i>
                                </div>
                                <input type="text" placeholder="Country" tabindex="12" id="Country" name="Country" ng-model="Country">
                                <!--Country-->
                            </div>
                        </div>
                        <!--Address Information-->
                        <!--Data Information-->
                        <div class="row">
                            <h3>Data Information</h3>
                            <div class="datapos">
                                <!--Username-->
                                <div class="icon-data">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" placeholder="Username" id="Username" name="Username" ng-model="Username">
                                <!--Username-->
                                <!--Confirm Password-->
                                <div class="icon-data">
                                    <i class="fa fa-user-circle"></i>
                                </div>
                                <input type="password" placeholder="Confirm Password">
                                <!--Confirm Password-->
                            </div>
                            <div class="datapos">
                                <!--Password-->
                                <div class="icon-data">
                                    <i class="fa fa-user-circle"></i>
                                </div>
                                <input type="password" placeholder="Password" id="Password" name="Password" ng-model="Password">
                                <!--Password-->
                            </div>
                        </div>                        
                        <button type="submit" class="btn btn-success" ng-click="AddPatient()">Create Account</button>
                    </form>
                </div>
                <!--Form-->
            </div>
            <!--Data form-->
        </div>
    </div>
</div>
<!--Login-->


