<div id="SucessModal" class="modal fade book-an-appointment" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Status</h4>
            </div>
            <div class="modal-body">
                <div>
                    <h3> {{Messages}}</h3>
                </div>
                <button class="btn btn-green btn-xsmall" ng-click="ok()">ok</button>
            </div>
        </div>
    </div>
</div>